section.sidebar__item(role='banner')
    h2 Behandlingsformer
    p
        | Læs om de behandlingsformer, jeg benytter mig af i det daglige.
    p.sidebar__item__action
        a.button(href='/behandlingsformer') Læs om behandlingsformer