section(role='banner')
    h2 Behandlingsformer
    p
        | Læs om de behandlingsformer, jeg benytter mig af i det daglige.
    p.container-button
        a.button(href='/behandlingsformer') Læs om behandlingsformer