section.sidebar__item(role='banner')
    h2 Medlem af Danske Akupunktører
    p
        img(src='/images/danske-akupunktoerer.png',alt='Medlem af Danske Akupunktører')
        | Din sikkerhed for veluddannede akupunktører.
    p.sidebar__item__action
        a.button(href='http://www.danske-akupunktoerer.dk/') Læs mere