section(role='banner')
    h2 Medlem af Danske Akupunktører
    p
        img(src='dist/images/danske-akupunktoerer.png',alt='Medlem af Danske Akupunktører')
        | Din sikkerhed for veluddannede akupunktører.
    p
        a.button(href='http://www.danske-akupunktoerer.dk/') Læs mere