section(role='banner')
    h2 Din første behandling?
    p
        | Den første behandling kan vare ca,1.5 time, følgende behandlinger typisk 45 min – 1 time.
    p
        a.button(href='/priser') Se priser