section(role='banner',class='wide')
    .map
    h2 Her finder du os
    p
        span(itemprop='name') Hornslet Akupunktur
        br
        span(itemtype='http://data-vocabulary.org/Address',itemscope='',itemprop='address')
            span(itemprop='street-address') Tingvej 69A
            br
            span(itemprop='postal-code') 8543
            span(itemprop='locality') Hornslet
            br
            span(itemprop='region',style='display: none;') Midtjylland
            span(itemprop='country-name',style='display: none;') Danmark
        | Telefon:
        span(itemprop='tel') 23 67 44 53
        br
        | E-mail:
        a(href='mailto:jytteaku@gmail.com') jytteaku@gmail.com
        br
        a(href='http://www.hornslet-akupunktur.dk',itemprop='url',style='display: none;') www.hornslet-akupunktur.dk
        br
        | Åbningstider efter aftale.