section.sidebar__item(role='banner')
    h2 Hvad hjælper akupunktur for?
    p
        | Akupunktur kan bl.a. hjælpe mod alle former for smerte.
    p.sidebar__item__action
        a.button(href='/akupunktur') Læs om akupunktur