section(role='banner')
    h2 Kontakt og priser
    p
        | Er du i tvivl om akupunktur er noget for dig? Ring <a href="tel:23674453">23674453</a>
    p.container-button
        a.button(href='/kontakt') Kontakt