section(role='banner')
    h2 Få tilskud til behandlinger
    p
        img(src='/images/sygesikringen-danmank.png',alt='Få tilskud til sygesikringen Danmank')
        | Hvis du er medlem af sygesikringen Danmank kan du få tilskud til behandlinger.
    p
        a.button(href='http://www.sygeforsikring.dk/Default.aspx?ID=750') Læs mere