section.sidebar__item(role='banner')
    h2 Få tilskud til behandlinger
    p
        | Sygeforsikringen ”danmark” giver tilskud til akupunktur, når betingelserne for tilskud er opfyldt.
    p.sidebar__item__action
        a.button(href='http://www.sygeforsikring.dk/akupunktur') Læs mere