.wrapper-header-outer {
  background: $header-background;
  height: $main-nav-height;
}

.main-header {
  height: $main-nav-height;
  line-height: $main-nav-height;
  position: absolute;
  top: 0;
  width: 100%;
  h1 {
    @include adjust-font-size-to(16px);
    @include rhythm(0, .4, 0, 0);
    color: $header-color;
    float: left;
    font-weight: normal;
    line-height: $main-nav-height/3;
    margin: 0;
    text-transform: uppercase;
    span {
        display: block;
    }
    .small {
        @include adjust-font-size-to(11px);
        font-style: italic;
        line-height: $main-nav-height/2;
        text-align: right;
        text-transform: none;
    }
  }
}
