@component header {
    background: var(--headerBg);
    height: var(--mainNavHeight);
    
    @descendent head {
        height: var(--mainNavHeight);
        line-height: var(--mainNavHeight);
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    @descendent logo {
        color: var(--headerColor);
        float: left;
        font-size: 1em;
        font-weight: normal;
        line-height: calc(var(--mainNavHeight) / 3);
        margin-left: var(--gutter);
        text-transform: uppercase;
        
        @descendent logo {
            display: block;
        }

        @descendent small {
            font-size: .688em; /* ~ 11px */
            font-style: italic;
            line-height: calc(var(--mainNavHeight) / 2);
            text-align: right;
            text-transform: none;
        }
    }
}
