@component sidebar {
    
    @descendent item {
        lost-utility: clearfix;
        
        background: var(--bannerBg);
        margin: 1.7em 0;
        width: 100%;
        
        h2 {
            padding: 0 1em;
        }
        
        p {
            lost-utility: clearfix;
            padding: 0 1.5em;
        }
        
        img {
            float: right;
            max-width: 6em;
        }
        
        @descendent action {
            clear: right;
            
            @media (min-width: 40em) {
                lost-utility: clearfix;
                
                .button {
                    float: right;
                }
            }
        }
        
    }
    
    @modifier frontpage {
        margin-top: 1.5em;
        
        .sidebar__item {
            position: relative;
            
            @media (min-width: 40em) {
                margin: 0 0 2em;
                padding-bottom: 4em;
            }

            .sidebar__item__action {
                
                @media (min-width: 40em) {
                    bottom: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    
}
