form(id="cookiebar",style="display:none",class="cookiebar")
    button(class="button cookiebar__button",id="cookiebarBtn") OK
    p.cookiebar__text <strong>Websitet anvender cookies</strong> til at måle statistik. Denne information deles med tredjepart. <a href="/privatliv">Læs mere om cookies</a>