form(id="cookiebar",style="display:none")
    p <strong>Websitet anvender cookies</strong> til at måle statistik. Denne information deles med tredjepart. <a href="/privatliv">Læs mere om cookies</a>
    button(class="button",id="cookiebarBtn") OK
.wrapper-header-outer
    .wrapper-header
        header.main-header
            h1
                span Hornslet Akupunktur
                span.small ved Jytte Bøgeskov
