mixin li (active, name)
    if page!= active
        li(class='main-nav-item')
            if active!= 'frontpage'
                a(href='/' + active)= name
            else
                a(href='/')= name
    else
        li(class='main-nav-item main-nav-item--active')
            if active!= 'frontpage'
                a(href='/' + active)= name
            else
                a(href='/')= name

ul
    +li('frontpage','Forside')
    +li('akupunktur','Akupunktur')
    +li('behandlingsformer','Behandlingsformer')
    +li('kontakt','Kontakt')
    +li('om','Om mig')
