ul
    li: a(href='/') Forside
    li: a(href='/akupunktur') Akupunktur
    li: a(href='/behandlingsformer') Behandlingsformer
    li: a(href='/kontakt') Kontakt &amp; priser
    li: a(href='/om') Om mig