aside(class=page='frontpage'?'frontpage':'')
    include sidebar/tidsbestilling
    include sidebar/tilskud
    include sidebar/danske-Akupunktorer
    include sidebar/her-finder-du-os
    include sidebar/forste-behandling