aside(class=page)
    if page != 'akupunktur'
        include sidebar/hvad-hjaelper-akupunktur-for

    if page != 'behandlingsformer'
        include sidebar/behandlingsformer

    if page != 'kontakt'
        include sidebar/kontakt-priser

    include sidebar/danske-Akupunktorer
    include sidebar/tilskud

    if page != 'kontakt'
        include sidebar/her-finder-du-os
