section.slider
    .flexslider
        ul.slides
            li
                img(src='dist/images/slider/jytte-boegeskov-rab-godkendt-akupunktoer.png',alt='Jytte Bøgeskov RAB godkendt akupunktør')
            li
                img(src='dist/images/slider/jytte-boegeskov-rab-godkendt-akupunktoer.png',alt='Jytte Bøgeskov RAB godkendt akupunktør')
            li
                img(src='dist/images/slider/jytte-boegeskov-rab-godkendt-akupunktoer.png',alt='Jytte Bøgeskov RAB godkendt akupunktør')