- var page = 'akupunktur'

doctype html
html(lang='da')
    head
        include modules/head
        title Akupunktur | Jytte Bøgeskov
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Akupunktur
                        p Behandlingen foregår med sterile engangsnåle, af god kvalitet. Det er med til at du får en god oplevelse ud af behandlingen, med minimal smerte.
                        h2 Hvor kan akupunktur hjælpe?
                        ul
                            li Alle former for smerte
                            li Migræne &amp; hovedpine
                            li Allergi (begynd gerne beh. 2 mdr. før allergisæsonen starter)
                            li Gigt i led &amp; muskler
                            li Ryg- og lændeproblemer
                            li Frossen skulder, tennis-/golfalbue
                            li Menstruationsproblemer &amp; –smerter
                            li Mave- &amp; tarmlidelser
                            li Søvnproblemer
                            li Stress
                            li Supplement til psykiske ubalancer
                            li Eksamen skræk
                            li Kolik
                include modules/sidebar
        include modules/nav
        include modules/footer