- var frontpage = false
doctype html
html(lang='da')
    head
        include modules/head
        title Akupunktur | Jytte Bøgeskov
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Akupunktur
                include modules/sidebar
        include modules/nav
        include modules/footer