- var page = 'behandlingsformer'

doctype html
html(lang='da')
    head
        include modules/head
        title Behandlingsformer | Hornslet Akupunktur
        meta(name='description',content='Læs om de behandlingsformer, jeg benytter mig af i det daglige.')
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Behandlingsformer

                        h2 針刺 Akupunktur
                        p
                            | Under behandlingen føres tynde, sterile engangsnåle ind i nøje udvalgte akupunkturpunkter.

                        h3 TCM Akupunktur
                        p
                            | (traditionel kinesisk medicin) er en behandlingsmetode der er mere end 4000 år gammel. I TCM hænger kroppen og psyken sammen, og jeg vil derfor ved første behandling stille en mange spørgsmål, samt se på tungen og mærke pulsen, for at kunne stille en diagnose.
                        p
                            | Selve behandlingen foregår med sterile engangsnåle, der bliver sat i udvalgte punkter, hvor de påvirker kroppens energi.

                        h3 El akupunktur
                        p
                            | bruges meget ofte ved behandling af smertetilstande, det foregår ved at der sættes små fine elektroder til nålene, disse aktiveres i samarbejde med klienten til den rette styrke.

                        h2 耳针 Øreakupunktur

                        h3 NADA
                        p
                            | akupunktur er en speciel form for øreakupunktur, der blev udviklet i 1970`erne i USA. Blev oprindeligt udviklet til alle former for afhængighed. (nikotin, alkohol, stoffer, sukker, mm.) Men behandlingen har vist sig også at have en rigtig god effekt på mange psykiske tilstande.
                        p
                            | Blandt andet: Søvnproblemer – stress – angst – depression – sorg – koncentrationsbesvær – indlæring – ADHD – PTSD -

                        h3 Auriculo- terapi
                        p
                            | giver mulighed for at behandle kroppen i øret. Ved at sætte nåle i øret aktivere man signalstoffer i hjernen, som så sætter kroppen i stand til at genoprette den rette balance i kroppen. Jeg bruger det gerne som supplement til den øvrige behandling.

                        h3 灸 Moxa
                        p
                            | Moxa er lavet af kinesisk gråbynke, som når det tændes giver en gennemtrængende varme. Moxa bruges til at stimulere akupunkturpunkterne. Det er en meget styrkende behandling, som for eksempel er rigtig god til gigtsmerter.

                        h3 拔罐 Cupping
                        p
                            | Til cupping bruger jeg både glas og plastik cupper. De sættes på, ved at skabe et undertryk, så cuppen suges fast til huden. Cupperne kan bruges både til massage, eller til at sætte på specifikke områder. Ved almindelig massage trykkes vævet sammen, men ved cupping suges vævet op, så affaldsstoffer kommer op og fjernes samtidig med at blodcirkulationen bedres. Er rigtig god til muskelspændinger. Der kommer røde mærker, disse er kun kosmetiske og vil forsvinder i løbet af nogle dage.

                        h3 刮痧 Gua Sha
                        p
                            | Gua Sha er en teknik hvor man kommer olie på huden og så skraber med et glat rundt redskab. Det bruges oftest på nakke, skulder og ryk. Der vil ved behandlingen komme røde mærker på huden, jo flere affaldsstoffer der er ophobet, jo mere rødme. Denne rødme vil forsvinde i løbet af en uges tid. Ved eks. hold i nakken vil du kunne mærke lindring med det samme.

                include modules/sidebar
        include modules/nav
        include modules/footer