- var page = 'frontpage'

doctype html
html(lang='da')
    head
        include modules/head
        title Hornslet Akupunktur | RAB godkendt akupunktør på Djursland ved Jytte Bøgeskov
        meta(name='description',content='Få tilskud til behandlinger, Hornslet Akupunktur er RAB godkendt. Behandlingen foregår med sterile engangsnåle, af god kvalitet.')
        meta(name='google-site-verification',content='Ab6avhbw85MnYZ0OmPMqJomcUZhLtqf4pclndWtVhDQ')
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                include modules/frontpage
                include modules/sidebar
        include modules/nav
        include modules/footer