- var frontpage = true
doctype html
html(lang='da')
    head
        include modules/head
        title RAB godkendt Akupunktur på Djursland | Jytte Bøgeskov
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                include modules/slider
                include modules/sidebar
        include modules/nav
        include modules/footer