- var frontpage = false
doctype html
html(lang='da')
    head
        include modules/head
        title Kontakt | Jytte Bøgeskov
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Kontakt
                        h2 CV
                        dl
                            dt 2011-2014
                            dd Akupunktør fra AkupunkturAkademiet
                            dt 24-25 mar 2012
                            dd Auriculoterapi 2
                            dt 12-13 nov 2011
                            dd Auriculoterapi 1
                            dt 6 dec 2010
                            dd Nada-akupunktør
                include modules/sidebar
        include modules/nav
        include modules/footer