- var page = 'om'

doctype html
html(lang='da')
    head
        include modules/head
        title Om Jytte Bøgeskov
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Om mig
                        p Jeg er et menneske der godt kan lide at gøre en forskel. Det ved jeg at jeg kan ved hjælp af akupunkturen, hvor jeg med nålen kan få din energi, din Qi, til at flyde frit i kroppen, så den får mulighed for at behandle sig selv.
                        p Jeg har hele mit liv været ansat indenfor det offentlige sundhed system, og det har jeg været glad for. Men jeg har også tit haft oplevelsen af at der mangler noget i den måde vi i Danmark betragter og behandler patienter på. Det kommer af at jeg altid har interesseret mig for de alternative behandlings former, og det holistiske menneskesyn hvor det hele menneske er i fokus. Ved det hele menneske tænkes der både på de fysiske og psykiske behov. Derfor syntes jeg at akupunkturen er et fantastisk supplement til det almindelige sundheds system.
                        p I TCM (Traditionel Kinesisk Medicin) akupunkturen ser man på mennesket med et holistisk menneskesyn, og behandler både krop og sjæl, hvilket gør akupunktøren i stand til både at behandle symptomerne, men også at finde ud af hvorfor de er opstået, og behandle derefter..
                        h2 Uddannelse
                        dl
                            dt 2011-2014
                            dd
                                | Akupunktør fra&nbsp;
                                a(href="http://www.akupunkturakademiet.dk/",target="_blank") AkupunkturAkademiet
                            dt 2011
                            dd Auriculoterapi kursus 1 og 2 v/ Anne Marie Vester
                            dt 2010
                            dd NADA diplom v/ Lars Wiinblad
                            dt 1997
                            dd Social og sundhedsassistent eksamen
                            dt 1973
                            dd Sygehjælper eksamen
                include modules/sidebar
        include modules/nav
        include modules/footer