- var frontpage = false
doctype html
html(lang='da')
    head
        include modules/head
        title Priser | Jytte Bøgeskov
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Priser
                        table
                            tr
                                td Akupunktur behandling
                                td 350 kr.
                            tr
                                td(colspan=2)
                                    p Den første behandling kan vare ca,1.5 time, følgende behandlinger 45min – 1 time
                            tr
                                td Nada behandling
                                td 75 kr.
                            tr
                                td 8 behandlinger
                                td 500 kr.
                            tr
                                td(colspan=2)
                                    p
                                        | Nada behandlinger vare 45 minutter hvor du hviler med nåle i ørene.
                        p
                            | Husk at medbringe et lagen og håndklæde til hver behandling.
                        p
                            | Hvis du er medlem af sygesikringen Danmark kan du få tilskud til behandlinger, læs mere på <a href="http://www.sygeforsikring.dk/Default.aspx?ID=750" target="_blank">www.sygeforsikring.dk</a>
                include modules/sidebar
        include modules/nav
        include modules/footer