- var page = 'privatliv'

doctype html
html(lang='da')
    head
        include modules/head
        title Privatliv | Hornslet Akupunktur
        meta(name='description',content='')
    body
        include modules/header
        .wrapper-page-outer
            .wrapper-page
                main(role='main', class='main-content')
                    article
                        h1 Akupunktur

                        p <strong>Deklaration af websitets brug af cookies</strong>

                        table(border="0",cellpadding="3",cellspacing="0")
                            tbody
                                tr
                                    td <strong>Formål med brug af cookies på websitet:</strong>
                                    td <strong>Intern / 1. parts cookies</strong>
                                    td <strong>Ekstern / 3. parts cookies</strong>
                                tr
                                    td Teknisk funktionalitet
                                    td ja
                                    td nej
                                tr
                                    td Trafikmåling
                                    td ja
                                    td nej
                                tr
                                    td Annonceafvikling (frekvens, brugermåling o.lign.)
                                    td nej
                                    td nej
                                tr
                                    td Adfærdsbaseret individuelt målrettet annoncering
                                    td nej
                                    td nej
                        p <strong>Ejeroplysninger</strong>
                        p Dette website udbydes af:
                        p
                            | <strong>Hornslet Akupunktur</strong><br>
                            | Tingvej 69A<br>
                            | 8543 Hornslet<br>
                            | Telefon: 23 67 44 53<br>
                            | Email: <a href="mailto:jytteaku@gmail.com">jytteaku@gmail.com</a>

                        p <strong>Cookies</strong>

                        p
                            | Dette website anvender cookies i henhold til ovenstående formål. En cookie er
                            | en lille tekstfil, der lagres i din browser og for at kunne genkende din computer ved
                            | tilbagevendende besøg. Der er ingen personlige oplysninger gemt i vores cookies og de
                            | kan ikke indeholde virus.

                        p
                            | <strong>Så lang tid opbevares cookies</strong><br>
                            | Cookies sletter sig selv efter efter et vist antal måneder (kan variere), men de
                            | fornyes efter hvert besøg.

                        p
                            | <strong>Sådan sletter du cookies</strong><br>
                            | Se vejledning her: <a href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a>
                        p
                            | <strong>Sådan undgår jeg cookies?</strong><br>
                            | Hvis du ikke ønsker at modtage cookies kan du blokere dem. Se vejledning
                            | her: <a href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a>.
                        p
                            | <strong>Hvad cookies bruges til på vores
                            | website</strong><br>
                            | Cookies anvendes til at føre demografiske og brugerrelaterede statistikker på vores brugere  for at tilpasse indhold og
                            | annoncering herefter.

                        p
                            | <strong>Google Analytics (trafikmåling)</strong><br>
                            | Websitet bruger cookies fra Google Analytics til at måltrafikken på websitet.

                        p
                            | Du kan fravælge cookies fra Google Analytics her: <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>

                        p <strong>Annoncenetværk</strong>

                        p Websitet anvender følgende annoncenetværk:

                        ul
                            li Google

                        p
                            | Det er muligt at fravælge, at du indgår i en række annoncenetværk, der deler
                            | oplysninger på tværs af forskellige netværk. Du kan finde listen her: <a href="http://minecookies.org/fravalg">http://minecookies.org/fravalg</a>


                        p
                            | <strong>Brug af personoplysninger</strong><br>
                            | Personoplysninger afgives aldrig til tredjepart, med mindre du selv udtrykkeligt giver
                            | tilsagn hertil, og vi indsamler aldrig personoplysninger, uden at du selv har givet os
                            | disse oplysninger ved registrering, køb eller deltagelse i en undersøgelse
                            | m.v. Her indsamles oplysninger om navn, adresse, postnummer, e-mail, køn, alder,
                            | interesser, holdninger og kendskab til forskellige emner.

                        p
                            | Personoplysninger bruges til at gennemføre det køb eller den service, som
                            | oplysningerne er indsamlet i forbindelse med. Oplysningerne bruges derudover til at få
                            | større kendskab til dig og øvrige brugere af websitet. Denne brug kan bl.a. omfatte
                            | undersøgelser og analyser, der er rettet mod en forbedring af vore produkter, tjenester
                            | og teknologier, samt visning af indhold og reklamer, der er tilpasset dine interesser
                            | og hobbyer.

                        p
                            | <strong>Kontakt vedr. personoplysninger</strong><br>
                            | Hvis du ønsker adgang til de oplysninger, som er registreret om dig hos Hornslet Akupunktur, skal
                            | du rette henvendelse på <a href="mailto:jytteaku@gmail.com">jytteaku@gmail.com</a> eller telefon 23 67 44 53.
                            | Er der registreret forkerte data, eller har du andre indsigelser, kan du
                            | rette henvendelse samme sted. Du har mulighed for at få indsigt i, hvilke informationer
                            | der er registreret om dig, og du kan gøre indsigelse mod en registrering i henhold til
                            | reglerne i Persondataloven.

                        p
                            | <strong>Beskyttelse af personoplysninger</strong><br>
                            | Ifølge persondataloven skal dine personlige oplysninger opbevares sikkert og
                            | fortroligt. Vi gemmer dine personlige oplysninger på computere med begrænset adgang,
                            | som er placeret i kontrollerede faciliteter, og vores sikkerhedsforanstaltninger
                            | kontrolleres løbende for at afgøre, om vores brugeroplysninger håndteres forsvarligt,
                            | og under stadig hensyntagen til dine rettigheder som bruger. Vi kan dog ikke garantere
                            | 100 procent sikkerhed ved dataoverførsler via internettet. Det betyder, at der kan være
                            | en risiko for, at andre uberettiget tiltvinger sig adgang til oplysninger, når data
                            | sendes og opbevares elektronisk. Du afgiver således dine personlige oplysninger på eget
                            | ansvar.

                        p
                            | Personoplysninger slettes eller anonymiseres løbende efterhånden som det formål, de
                            | blev indsamlet til, afsluttes. Personoplysninger gemmes højst i 12 måneder efter
                            | brug.

                        p
                            | Den hurtige udvikling af internettet betyder, at ændringer i vores behandling af
                            | personoplysninger kan blive nødvendige. Vi forbeholder os derfor ret til at opdatere og
                            | ændre nærværende retningslinjer for behandling af personoplysninger. I tilfælde af
                            | væsentlige ændringer giver vi dig besked i form af en synlig meddelelse på vores
                            | website.

                        p
                            | I det omfang, der behandles personoplysninger om dig, har du ifølge persondataloven
                            | ret til at få oplyst, hvilke personoplysninger, der kan henføres til dig. Såfremt det
                            | viser sig, at de oplysninger eller data, der behandles om dig, er urigtige eller
                            | vildledende, har du ret til at kræve disse berigtiget, slettet eller blokeret. Du kan
                            | til enhver tid gøre indsigelse mod, at oplysninger om dig gøres til genstand for
                            | behandling. Du kan også til enhver tid tilbagekalde dit samtykke. Du har mulighed for
                            | at klage over behandlingen af oplysninger og data vedrørende dig. Klage indgives til
                            | Datatilsynet, jf. persondatalovens § 58, stk. 1.

                include modules/sidebar
        include modules/nav
        include modules/footer
