// Headings
h1 { color: $secondary-color; }
h2,
h3,
h4,
h5,
h6 { color: $primary-color; }

body {
    background: $body-background;
}

a {
    text-decoration: none;
    &:link, &:active {
        color: $link-color;
    }
    &:visited {
        color: darken($link-color, 5%);
    }
    &:hover {
        text-decoration: underline;
    }
}


.wrapper-page-outer {
    @include clearfix();
    background: $page-background;
    padding-left: $small-gutter;
    padding-right: $small-gutter;
    @include susy-breakpoint($small, $large) {
        padding-left: 0;
        padding-right: 0;
    }
}

