.button {
  background: $primary-color;
  border: 0;
  color: $primary--alt-color;
  display: block;
  padding: 2% 3%;
  text-align: center;

  @include susy-breakpoint($small, $large) {
    padding: .5em 1em;
  }

  &:link,
  &:active,
  &:visited,
  &:hover {
    color: $primary--alt-color;
    text-decoration: none;
  }

  &:hover {
    background: lighten($primary-color, 10%);
  }

  &:active {
    background: darken($primary-color, 5%);
    color: lighten($primary-color, 60%);
  }
}
