@include establish-baseline;

.wrapper-header,
.wrapper-page,
.slider
.main-footer {
  @include container();
  @include susy-breakpoint($small, $large) {
    @include container();
  }
}

.slider {
  @include span(full);
}

@include susy-breakpoint($small, $large) {
  [class^="wrapper"] {
    position: relative;
  }

  .main-header {
    width: span(5);
  }

  .main-nav {
    @include container();
  }

  .main-content {
    @include span(8);
  }

  .main-footer {
    @include container();
  }

  aside {
    @include span(last 4);
    &.frontpage {
      @include span(full);
      section {
        @include span(4);

        &:nth-child(3n) {
          @include omega;
        }

        &.wide {
          @include span(8);

          .map {
            @include span(6 omega);
          }

          & + section {
            @include omega;
          }
        }
      }
    }
  }

}

.wrapper-main-nav {
  z-index: 2;
}

.wrapper-page-outer {
  z-index: 1;
}
